
<div class="container">
  <div class="row"> 
    <div class="col-md-6 col-md-offset-3"> 
      <table class="table table-bordered table-striped table-hover">
      <tbody>
        <tr> 
         <div class="col-3"> <th> Cohort </td> </div>
         <div class="col-3"> <th><%= cohort.name %></td> </div>
        </tr>
        <tr>
         <td>Start on:</td>
         <td><%= cohort.start_on %></td>
        </tr>
        <tr>
         <td>End on:</td>
          <td><%= cohort.end_on %></td>
        </tr>
        <tr>
          <td>Instructor:</td>
          <td><%= Instructor.find(cohort.instructor_id).first_name.capitalize %></td>
        </tr>
        <tr>
         <td>Course:</td>
              <td><%= Course.find(cohort.course_id).name.capitalize %></td>
        </tr>
        <tr>
          <td>Student:</td>
              <td><%= Student.find(cohort.student_id).last_name.capitalize%>, <%= Student.find(cohort.student_id).first_name.capitalize%></td>
         </tr>
      </tbody>
      </table>
   <%= link_to 'Edit', edit_cohort_path(cohort), class: "btn btn-success" %> 
  </div>
 </div>
</div>
<br>