<div >
Name: <%= cohort.name %><br />
Start on: <%= cohort.start_on %><br />
End on: <%= cohort.end_on %><br />
Instructor: <%= cohort.instructor_id %><br />
Course: <%= cohort.course_id %><br />
Student: <%= cohort.student_id %><br />

</div>


