<h1>Cohorts#edit</h1>
<p>Find me in app/views/cohorts/edit.html.erb</p>

<div class="container">
<div class="col-5 offset-md-3">
<div class="jumbotron">
<%= form_with(model: @cohort) do |form| %>
  <div>Name:</div> 
  <%= form.text_field(:name) %><br /><br/>
  <div>Start On:</div>
   <%= form.date_field(:start_on) %><br /><br/>
  <div>End On:</div> 
  <%= form.date_field(:end_on) %><br /><br/>
  <div>Instructor:</div> 
  <%= form.select :instructor_id, options_for_select(@instructors, @cohort.instructor_id) %><br /><br/>
  <div>Course:</div> 
  <%= form.select :course_id, options_for_select(@courses, @cohort.course_id) %><br /><br/>
  <div>Student:</div> 
  <%= form.select :student_id, options_for_select(@students, @cohort.student_id) %><br /><br/>
<%= form.submit class: "btn btn-success"%>
<% end %>
</div>
</div>
</div>