<br/>
  <h1 class="text-center"style="text-shadow: 3px 2px; color: black" >Coders of the Future</h1>
  <p class="text-center" style="font-size:17px;">TIME TRAVEL 66K ACADEMY</p>
    <h2 class="text-center" style="text-shadow: 3px 2px; color: gray"> Current Cohort </h2>
      <br/>

<div class="container">
  <div class="col-5 offset-md-3">
    <div class="jumbotron">
      <%= form_with(model: @cohorts) do |form| %>
      <div>Name:</div> 
      <%= form.text_field(:name) %><br /><br/>
      <div>Start On:</div>
      <%= form.date_field(:start_on) %><br /><br/>
      <div>End On:</div> 
      <%= form.date_field(:end_on) %><br /><br/>
      <div>Instructor:</div> 
      <%= form.select :instructor_id, options_for_select(@instructors, @cohorts.instructor_id) %><br /><br/>
      <div>Course:</div> 
      <%= form.select :course_id, options_for_select(@courses, @cohorts.course_id) %><br /><br/>
      <div>Student:</div> 
      <%= form.select :student_id, options_for_select(@students, @cohorts.student_id) %><br /><br/>
      <%= form.submit class: "btn btn-success"%>
      <% end %>
    </div>
  </div>
</div>