<h1>Students#edit</h1>
<p>Find me in app/views/students/edit.html.erb</p>


<%= form_with(model: @student) do |form| %>
  First Name: <%= form.text_field(:first_name) %><br />
  Last Name: <%= form.text_field(:last_name) %><br />
  Age: <%= form.text_field(:age) %><br />
  Education: <%= form.text_field(:education) %><br />
  Email: <%= form.text_field(:email) %><br />
  Cohort: <%= form.select :cohort_id, options_for_select(@cohorts, @student.id) %><br />
  <%= form.submit %>
<% end %>