<div id="students-index">
  <br><br>
    <div class="hero">
      <br><br><br>
        <h1 class="text-center"style="text-shadow: 3px 2px; color: black" >Coders of the Future</h1>
          <br>
            <p class="text-center" style="font-size:17px;">TIME TRAVEL 66K ACADEMY</p>
            <h2 class="text-center" style="text-shadow: 3px 2px; color: gray"> Students </h2>
          <br/>

  <div class="col-md-13 col"> 
    <div class="container">
      <%= link_to 'New Student', new_student_path, class: "btn btn-success btn-lg btn-block" %>
    </div>
      <br/>
    <div class="container">
      <div class="row"> 
       <table class="table table-bordered table-striped table-hover table-light table-responsive-sm">
          <thead class="thead-dark">
            <tr>
              <th class="text-center" scope="col">Id</th>
              <th class="text-center" scope="col">First Name</th>
              <th class="text-center" scope="col">Last Name</th>
              <th class="text-center" scope="col">Age</th>
              <th class="text-center" scope="col">Education</th>
              <th class="text-center" scope="col">Email</th>      
              <th class="text-center" scope="col">Registered on</th>
              <th class="text-center" scope="col">Updated on</th>
              <th class="text-center"scope="col">Delete</th>
            </tr>
          </thead>
          <% @students.each do |student| %>
            <tbody id="killer<%= student.id %>">
              <tr class="text-center">
                <br>
                  <td class="text-center"><%= link_to student.id, student_path(student), :class => 'btn btn-default'  %></td>
                  <td><%= student.first_name.capitalize %></td>
                  <td><%= student.last_name.capitalize %></td>  
                  <td> <%= student.age %> </td> 
                  <td> <%= student.education %></td>
                  <td><%= student.email %></td>
                  <td><%= student.created_at_formatted %></td>
                  <td><%= student.updated_at_formatted %></td>
                  <td><%= link_to(student_path(id: student.id), method: :delete, remote: true) do %>
                      <p class="text-center"><span class="glyphicon glyphicon-trash"></span></p>
                      <% end %>
                  </td>  
              </tr>
            </tbody>
           <% end %>
      </table>
     </div>
    </div>
  </div>
 </div>
</div>
