
<div class="container">
  <div class="row"> 
    <div class="col-md-6 col-md-offset-3"> 
      <table class="table table-bordered table-striped table-hover">
        <tbody id="killer<%= reminder.id %>">
          <tr> 
            <div class="col-3">
              <th> Class </td>
            </div>
            <div class="col-3">
              <th><%= reminder.name %></td>
            </div>
          </tr>
          <tr>
            <td>Reminder:</td>
            <td><%= reminder.content %></td>
          </tr>
          <tr>
          <tr>
           <td>Created At:</td>
           <td> <%= reminder.created_at_formatted %></td>
          </tr>
       </tbody>
      </table>



     <%= link_to 'Edit', edit_reminder_path(reminder), class: "btn btn-success" %> 
  </div>
 </div>
</div>

<br>