<br/>
<h1 class="text-center"style="text-shadow: 3px 2px; color: black" >Coders of the Future</h1>
<p class="text-center" style="font-size:17px;">TIME TRAVEL 66K ACADEMY</p>


<h2 class="text-center" style="text-shadow: 3px 2px; color: gray"> New Reminder </h2>
<br/>

<div class="col-6 offset-md-3">
 <div class="jumbotron">
   <div class="col-md-3"> 
    <div class="form-group">
<%= form_with(model: @reminder) do |form| %>
<div><strong>Cohort:</strong></div>
      <%= form.select :cohort_id, options_for_select(@cohort, @reminder.cohort_id) %><br /><br/>
  <strong>Class:</strong><%= form.select(:name, options_for_select([['Important'], ['Do-Now'], ['Weekly'], ['FYI']]), { include_blank: true }) %> <br /><br />
  <strong>Reminder:</strong> <%= form.text_field(:content) %><br /><br/>
<%= form.submit class: "btn btn-success"%>
<% end %>
</div>
</div>
</div>
</div>