<div >
FIrst Name: <%= instructor.first_name %><br />
Last Name: <%= instructor.last_name %><br />
Education: <%= instructor.education %><br />
Age: <%= instructor.age %><br />
Salary: <%= instructor.salary %><br />
Email: <%= instructor.email %><br />
Created At: <%= instructor.created_at %><br />
Updated At: <%= instructor.updated_at %><br />
</div>