<br/>
<h1 class="text-center"style="text-shadow: 3px 2px; color: black" >Coders of the Future</h1>
<p class="text-center" style="font-size:17px;">TIME TRAVEL 66K ACADEMY</p>


<h2 class="text-center" style="text-shadow: 3px 2px; color: gray"> Current Instructor </h2>
<br/>

<div class="container">
<div class="col-5 offset-md-3">
<div class="jumbotron">
<%= form_with(model: @instructor) do |form| %>
  <div>First Name:</div> 
  <%= form.text_field(:first_name) %><br /><br/>
  <div>Last Name:</div>
   <%= form.text_field(:last_name) %><br /><br/>
  <div>Age:</div>
   <%= form.text_field(:age) %><br /><br/>
  <div>Salary:</div>
   <%= form.text_field(:salary) %><br /><br/>
  <div>Education:</div>
  <%= form.select(:education, options_for_select([['High School'], ['College'], ['Masters'], ['PHD']]), { include_blank: true }) %> <br /><br/>
  <div>Email:</div>
   <%= form.text_field(:email) %><br /><br/>
  <div>Cohort:</div> 
  <%= form.select :cohort_id, options_for_select(@cohorts, @instructor.id) %><br /><br/>
<%= form.submit class: "btn btn-success"%>
<% end %>
</div>
</div>
</div>

