<h1>Instructors#index</h1>
<p>Find me in app/views/instructors/index.html.erb</p>




 <div class="title-container">
<h1>Instructors</h1>

</div>
<div class="container">
     <%= link_to 'New Instructor', new_instructor_path, class: "btn btn-primary btn-lg btn-block" %>
</div>
<br />
<div class="container">
  <div class="row"> 
  <div class="col-md-14 col"> 
      <table class="table table-bordered table-striped table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Education</th>
      <th scope="col">Age</th>
      <th scope="col">Salary</th>
      <th scope="col">Email</th>      
      <th scope="col">Registered on</th>
      <th scope="col">Updated on</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <% @instructors.each do |instructor| %>
    <tbody id="killer<%= instructor.id %>">
    <tr>
      <td><%= link_to instructor.id, instructor_path(instructor), :class => 'btn btn-default'  %></td>
       <th><%= instructor.first_name %></td>
      <td><%= instructor.last_name %></td>
      <td> <%= instructor.education %></td>
      <td> <%= instructor.age %></td>
      <td> $ <%= instructor.salary %></td>
      <td><%= instructor.email %></td>
      <td><%= instructor.created_at_formatted %></td>
      <td><%= instructor.updated_at_formatted %></td>
      <td>  
        <%= link_to(instructor_path(id: instructor.id), method: :delete, remote: true) do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>
</div>
</div>

