<div >
<% puts "!!!!!!!!!!!!!!!!!!"%>
<% puts cohorts_student %>
Cohort: <%= cohorts_student.cohort_id %><br />
Students <%= cohorts_student.student.first_name %> <%= cohorts_student.student.last_name %>


 <%= link_to 'Edit', edit_cohorts_student_path(cohorts_student), :class => 'navbar-link' %> | 
    <%= link_to 'Delete', cohorts_student_path(cohorts_student), class: "btn btn-danger", data: {
      confirm: "Are you sure want to delete: #{cohorts_student.student.first_name}?",}, method: :delete %> 

</div>