<div >
Name: <%= course.name %><br />
Total of Hours: <%= course.total_of_hrs %><br />
Description: <%= course.description %><br />
Created At: <%= course.created_at %><br />
Updated At: <%= course.updated_at %><br />
</div>