<div id="forms-edit">
<br/>
  <h1 class="text-center"style="text-shadow: 3px 2px; color: black" >Coders of the Future</h1>
    <p class="text-center" style="font-size:17px;">TIME TRAVEL 66K ACADEMY</p>
      <h2 class="text-center" style="text-shadow: 3px 2px; color: gray"> Current Course </h2>
<br/>

  <div class="container">
    <div class="col-5 offset-md-3">
     <br><br>
        <%= form_with(model: @course) do |form| %>
          <strong>Name:</strong><br>
          <%= form.text_field(:name) %><br /><br/>
          <strong>Total of Hours:</strong><br>
          <%= form.text_field(:total_of_hrs) %><br /><br/>
          <strong>Description:</strong><br>
          <%= form.text_field(:description) %><br /><br/>
          <%= form.submit class: "btn btn-success" %>
          <% end %>
      </div>
    </div>
  </div>