<br/>
  <h1 class="text-center"style="text-shadow: 3px 2px; color: black" >Coders of the Future</h1>
    <p class="text-center" style="font-size:17px;">TIME TRAVEL 66K ACADEMY</p>
      <h2 class="text-center" style="text-shadow: 3px 2px; color: gray"> New Course </h2> 
       <br/>
   <div class="col-6 offset-md-3">
     <div class="jumbotron">
       <div class="col-md-3"> 
          <div class="form-group">
             <%= form_with(model: @course) do |form| %>  
              <strong>Name:</strong><br/>
              <%= form.text_field :name, placeholder: "example = 'Math'" %><br/><br/>
              <div><strong>Total of Hours:</strong></div>
              <%= form.text_field :total_of_hrs %><br/><br/>
              <strong>Description:</strong><%= form.text_field :description, placeholder: " about" %><br/><br/>
               <br/>
              <%= form.submit :class => "btn btn-success"%>
             <% end %>
           </div>
        </div>
      </div>
    </div>

 



