<h1>Courses#new</h1>
<p>Find me in app/views/courses/new.html.erb</p>
<!--
<%= form_with(model: @course) do |form| %>
  Name: <%= form.text_field(:name) %><br />
  Total of Hours: <%= form.text_field(:total_of_hrs) %><br />
  Description: <%= form.text_field(:description) %><br />
<%= form.submit %>
<% end %>
-->

   <div class="ui grid">
     <div class="column six wide">
      <div class="right floated two column">
       <div class="ui inverted red segment">
         <div class="ui inverted form">
           <%= form_with(model: @course) do |form| %>  
             <div class="field">
                <label>Name</label>
                <%= form.text_field :name, placeholder: "example => 'Math'" %>
             </div>
             <div class="field">
              <label>Total of Hours</label>
                <%= form.time_field :total_of_hrs, placeholder: "hrs:mns" %>
             </div>
             <div class="field">
               <label>Description</label>
               <%= form.text_field :description, placeholder: "What is the course about" %>
            </div>
            <br/>

            <%= form.submit%>
          <% end %>
         </div>
       </div>
      </div>
    </div>
  </div>
</div>

 


